
<div class="page__inner-wrap">
  <section class="page__content" itemprop="text">
    <div class="notice--warning">
      <h4 id="pourquoi-parler-dune-paire-de-clefs-">Vous aimez les tatouages ?</h4>

      <p>Suivez mon nouveau projet : devenir le <strong>meilleur tatoueur</strong> de France.</p>

      <p>Pour cela, j'ai besoin de <strong>vous</strong> !</p>

      <p>Car vous ne le savez pas, mais vos retours et vos partages sont ce qu'il y a de plus précieux.</p>

      <p>Suivez mes aventures trépidentes sur les réseaux sociaux :</p>

      <p><a href="https://www.instagram.com/arthak/" rel="nofollow" class="btn btn--warning">Me suivre sur Instagram</a>
        &nbsp;&nbsp;
        <a href="https://www.facebook.com/arthak.santi/" rel="nofollow" class="btn btn--info">Me suivre sur sur Facebook</a>
      </p>

      <p>
        Et si vous voulez voir mon travail et mes flashs disponibles, je tattoo actuellement en studio privé à Grenoble :
      </p>

      <p>
        <a href="https://arthak.fr" class="btn btn--danger">Aller sur le site</a>
      </p>

    </div>
  </div>
</div>
