---
title: Articles par Categorie
permalink: "/categories/"
layout: archive-categories
author_profile: true
exclude_from_search: true
sidebar:
  nav: archives
---

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign tag = category | slugify %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag }}" class="archive__subtitle remove {{ tag }}">{{ category }}</h2>
  {% for post in posts %}
    {% include tag-single.html tag=tag %}
  {% endfor %}
{% endfor %}
