.feature-title {
    display: inline-block;
    font-family: $font-family-primary;
    font-size: 32px;
    font-weight: $font-weight-bold;
    margin-bottom: 0px;
}

.feature-title__full {
  @include post-title;

  display: block;

	@media (min-width: $medium) {
		font-size: 0;
		line-height: 0;
	}
}

.feature-title__part {
  @include transition(opacity);

	display: inline-block;
	white-space: nowrap;
	text-transform: uppercase;
	line-height: 0.78;

	@media (max-width: $medium) {
		display: none !important;
	}
}
