@media (max-width: $large){
  .mar::before {
    content: " (";
  }
  .mar::after {
    content: ")";
  }
}

@media screen and (min-width: $large) {
  .ar::before {
    content: "*";
  }
  .mar:before {
    content: "* ";
  }
  .mar code, .mar a {
    color: #ccc;
    font-style: normal;
  }
  .mar a:hover {
    color: #aaa;
  }
}

.mar {
  @media (min-width: $large) {
    font-size: 0.82353em;
    font-style: italic;
    position: absolute;
    left: 77%;
    right: 1em;
    margin-left: 170px;
    max-width: 200px;
    text-align: left;
    color: #d4d4d4;
    width: 25%;
  }
  @media (min-width: 1050px) {
    left: 76%;
    margin-left: 190px;
  }
  @media (min-width: 1200px) {
    left: 75%;
    margin-left: 210px;
  }
  @media (min-width: $x-large) {
    left: 63%;
    width: 30%;
    margin-left: 18em;
    max-width: 270px;
  }
}
