@media (max-width: $x-large){
  .mar::before {
    content: " (";
  }
  .mar::after {
    content: ")";
  }
}

@media screen and (min-width: $x-large) {
  .ar::before {
    content: "*";
  }
  .mar:before {
    content: "* ";
  }
  .mar code, .mar a {
    color: #ccc;
    font-style: normal;
  }
  .mar a:hover {
    color: #aaa;
  }
}

.mar {
  @media (min-width: $x-large) {
    font-size: 0.82353em;
    font-style: italic;
    position: absolute;
    /* left: 77%;
    right: 1em;*/

    text-align: left;
    color: #d4d4d4;
    width: 25%;

    left: 63%;
    width: 30%;
    margin-left: 80px;
    max-width: 200px;
  }
}
